body {margin-left: 400px; margin-right: 400px; margin-top: 50px; margin-bottom:0px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background: linear-gradient(to bottom right, #f0f8ff, #e6f0ff); color: #333;}

.profile-section {display: flex; justify-content: center;
    align-items: center; min-height: 100vh; text-align: center;
    padding: 40px; background: white; position: relative; overflow: hidden;}

.content {max-width:700px; z-index:2; text-align: center; align-content: center; align-items: center;}

.profile-pic {width: 150px; height: 150px; object-fit: cover;
    border-radius: 50%; border: 4px solid #0057b7;
    margin-bottom: 20px; box-shadow: 0 4px 12px rgba (0,0,0,0.15);}

h1 {font-size: 2.2rem; color: #0057b7; margin: 10px 0;}

.contact {font-size: 1rem; margin-bottom: 20px;}

.contact a {color: #0057b7; text-decoration: none;}

h2 {color: #0057b7; font-size: 1.5rem; margin: 20px 0 10px;}

.bio {font-size: 1.05rem; line-height: 1.6;}

/*background shape*/
.profile-section::before {content: ''; position: absolute;
    top:-100px; right: -100px; width: 300px; height: 300px;
background: #0057b7; opacity: 0.1; border-radius: 50%; z-index: 1;}

a {color: #0057b7; text-decoration: none; text-align: center;}

script {text-align: center; align-content: center;}

.down{

color: grey;

padding: 15px;

margin-top: 0px; text-align: center; border-top: 0px; margin-left: 0px; margin-right: 0px;} 

.weatherInfo {text-align: center; color: green;}
.link {text-align: center;}